* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open-san', sans-serif ;
}

nav .tuitt-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding:  0.6rem;
	border-color: white;
	height: 40px;
	width: 140px;	
}
ul{
	display: flex;
	list-style: none;
	margin: 2rem;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.8rem;
}
ul .nav{
	display: inline-block;
	font-size: 25px;
	margin-right: 15px;
}

#logo{
	height: 50px;
	width: 170px;
}



#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size:  100%;
	background-attachment: scroll;
	min-height: 12rem;
	margin-bottom: 1rem;
	background-position: center center;
	background-color: 10vh;

}
.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 10vh;
	padding-bottom: 100px;
}


.apply-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	border-style: none;
	height: 50px;
	width: 200px;
	float: right;
	margin-right: 8%;




}


.title{
	
	padding-left: 40%;
	padding-right: 9rem;
	padding-top:  2rem;
	padding-bottom: 2rem;
	text-align: right;
	color: whitesmoke;
	font-family: gotic;
	font-size: 3.7rem;


}

.subtitle{
	
	padding-left: 60%;
	padding-right: 9rem;
	padding-top:  2rem;
	padding-bottom: 3rem;
	text-align: right;
	color: whitesmoke;
}



.title-2{
	text-align: center;
	margin: 3rem;
	padding: 1rem;
}
.intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top:  2rem;
	padding-bottom: 3rem;
	text-align: center
}



.pre-footer{
	padding-left: 10%;
	padding-right: 10%;
	padding-top:  2rem;
	padding-bottom: 3rem;
	text-align: center;
	margin-bottom: 1rem;

}

.book-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding:  0.6rem;
	border-color: white;
	height: 40px;
	width: 140px;
	margin-top: 3rem;

	

}

footer{
	text-align: center;
	padding-top: 2rem;
}